<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
  <application>
    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.bodyfinder.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/bodyfinder_file_paths" />
    </provider>
    <service
      android:name="com.trochez.bodyfindernative.BodyFinderFieldService"
      android:exported="false"
      android:foregroundServiceType="connectedDevice"
      android:stopWithTask="false" />
  </application>
</manifest>
